<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/1a1b7109-042e-4587-a579-dca316bfecb1/resourcegroups/TaskBoardResourceGroup/providers/Microsoft.Web/sites/TaskBoardIvayloIvanov</ResourceId>
    <ResourceGroup>TaskBoardResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://taskboardivayloivanov.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>cc759849-6c9c-4cf7-94b0-40c679137ccc</ProjectGuid>
    <PublishUrl>https://taskboardivayloivanov.scm.azurewebsites.net/</PublishUrl>
    <UserName>$TaskBoardIvayloIvanov</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>